
/* /account_accountant/static/src/components/bank_reconciliation/bank_rec_widget.scss */

.o_bank_reconciliation_container {
  padding: 0;
  font-size: 0.875rem;
  overflow: hidden;
}

.o_bank_reconciliation_container .user-select-text {
  user-select: text;
}

.o_bank_reconciliation_container .o_bank_rec_widget_chatter_container {
  overflow: auto;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer {
  --Kanban-padding: 0;
  overflow: auto;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line {
  border-left: calc(1px * 4) solid transparent;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container {
  display: grid;
  grid-template-columns: 130px minmax(70px, auto) 110px;
  gap: 3.25px;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row {
  display: contents;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .activity-container {
  position: relative;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .activity-badge {
  margin-right: -.5em;
  padding: 3px 6px;
  background-color: var(--o-navbar-badge-bg, #dc3545);
  font-size: 0.7em;
  color: var(--o-navbar-badge-color, #FFF);
  text-shadow: var(--o-navbar-badge-text-shadow, none);
  transform: translate(-0.6em, -30%);
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_payment_ref {
  grid-column: 1 / 4;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_payment_ref span > span:last-child {
  font-size: 13px;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_payment_ref .oi-close {
  font-size: 0.85em;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_line_name {
  grid-column: 1 / 3;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_line_amount {
  grid-column: 3 / 4;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_bg-black-10 {
  background-color: RGBA(0, 0, 0, 0.1) !important;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_button_line {
  grid-column: 1 / 3;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_button_line button {
  min-width: 0;
  max-width: 200px;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_chatter_icon {
  visibility: hidden;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line:hover .o_chatter_icon {
  visibility: visible;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line.o_selected_statement_line {
  border-color: #714B67;
}

.o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_bank_reconciliation_quick_create .o_quick_create {
  --columns: 1;
  --gap: 13px;
}

@media (min-width: 188mm) {
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_bank_reconciliation_quick_create .o_quick_create {
    grid-template-columns: 7rem 2fr 1fr 1fr;
  }
}

.o_bank_reconciliation_container .o_kanban_record:not(.o_kanban_ghost) {
  --KanbanRecord-padding-v: 0;
  --KanbanRecord-padding-h: 0;
}

@media (min-width: 188mm) {
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container {
    grid-template-columns: 90px 3fr 1fr 1fr 40px;
    column-gap: 13px;
    row-gap: 6.5px;
    line-height: 24px;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_line_name {
    grid-column: 2 / 3;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_payment_ref {
    grid-column: 2 / 3;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_line_amount {
    grid-column: 4 / 5;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_line_to_reconcile_button {
    grid-column: 5 / 6;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_button_line {
    gap: 3.25px;
    align-items: center;
    grid-column: 3 / 4;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_line .o_grid_container .o_row .o_button_line button {
    max-width: 100%;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_statement_btn {
    transform: translate(-13px, -50%);
    padding: 1.625px 6.5px;
    opacity: 0;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_kanban_record:not(.o_kanban_ghost) {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin: 0;
    width: 100%;
  }
  .o_bank_reconciliation_container .o_bank_reconciliation_kanban_renderer .o_kanban_record:not(.o_kanban_ghost):hover .o_statement_btn {
    opacity: 1;
  }
}

.o_bank_reconciliation_container:where(:has(.o_bank_rec_widget_chatter_container)) .o_kanban_record:focus, .o_bank_reconciliation_container:where(:has(.o_bank_rec_widget_chatter_container)) .o_kanban_record:has(.o_selected_statement_line) {
  outline: none;
  box-shadow: inset 0 0 0 1px #714B67;
}

