.o_systray_button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0rem 0.5rem;
    text-align: left;
}

.o_command_palette {
    height: auto !important;
}