.o_main_navbar {
    align-items: center;
    .o_menu_sections {
        height: min-content;
    }

    .o_menu_systray {
        align-items: stretch;
        height: 100%;
        .o_menu_systray_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }
    }
    
    .o_debug_manager {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: flex !important;
    }

    .o-mail-DiscussSystray-class {
        border-radius: 15px;
    }
}